* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #020617, #020617 40%, #020617);
}

#root {
  min-height: 100vh;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}
